[credential]
	helper = cache --timeout 604800
[user]
	name = Louis Garman
	email = louisgarman@gmail.com
[alias]
	co = checkout
	c = commit --verbose
	d = diff
	ds = diff --staged
	s = status
	a = add
	b = branch
	f = fetch
	lg = log --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = /usr/bin/vim
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
