[credential]
	helper = cache --timeout 604800
[user]
	name = Louis Garman
	email = louis.garman@uk.qbe.com
[alias]
	co = checkout
	c = commit --verbose
	d = diff
	ds = diff --staged
	s = status
	a = add
	b = branch
	lg = log --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = /usr/bin/vim
